<div class="hero-unit container-fluid" align="center">
  <h1>Kilpailuta kiinteistönvälittäjäsi</h1>
  <div class="hero-search container col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="col-xs-12 col-md-9 col-lg-9">
      <input class="form-control input-md" type="text" placeholder="Paikkakuntasi" autofocus="true">
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-offset-0 col-md-3 col-lg-3 hero-btn-div">
      <a class="btn btn-warning btn-lg btn-block hero-btn">Kilpailuta!</a>
    </div>
    
  </div>
</div>
<div class="hero-bottom container-fluid" align="left">
  <div class="hero-bottom-content">
    <div class="container">
      <div class="hero-bottom-left col-lg-6">
        Tekstii
      </div>
      <div class="hero-bottom-right col-lg-6" align="right">Nappi tahan</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cta col-xs-12">
    <div class="col-md-4 cta1">
      <div class="col-xs-3 icon cta-title">
        <span class="glyphicon glyphicon-home cta-icon" aria-hidden="true"></span>
      </div>
      <div class="col-xs-9 cta-title">
        <h4>Asunnonmyynnin ABC</h4>
      </div>
      <div class="col-xs-12 content">
        <p>Helppolukuinen tietopaketti joka auttaa myynnin valmistelussa, välittäjän valinnassa sekä välityspalkkioissa.</p>
      </div>
    </div>
    <div class="col-md-4 cta1">
      <div class="col-xs-3 icon cta-title">
        <span class="glyphicon glyphicon-th-list cta-icon" aria-hidden="true"></span>
      </div>
      <div class="col-xs-9 cta-title">
        <h4>5 syytä harkita</h4>
      </div>
      <div class="col-xs-12 content">
        <p>Yritänkö myydä itse vai käytänkö ammattimaista kiinteistönvälittäjää asunnon myynnissä?</p>
      </div>
    </div>
    <div class="col-md-4 cta1">
      <div class="col-xs-3 icon cta-title">
        <span class="glyphicon glyphicon-eye-open cta-icon" aria-hidden="true"></span>
      </div>
      <div class="col-xs-9 cta-title">
        <h4>Myyjän silmin</h4>
      </div>
      <div class="col-xs-12 content">
        <p>Mitä tulisi ottaa huomioon kiinteistönvälittäjää valitessa?</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="vertaile col-xs-12">
      <div class="col-md-3">
        Kuva tähän
      </div>
      <div class="col-md-9">
        <p>Vertaile paikkakuntasi kiinteistönvälittäjiä ja saat välitystarjoukset ja palvelukuvaukset ripeimmiltä välittäjiltä nopeasti ja helposti. <strong>Verkostomme kautta toimivat vain aktiiviset välittäjät.</strong></p>
        <p>Välitysliikkeiden ilmoittamat välityspalkkioprosentit ja ns. listahinnat eivät kerro kaikkea.</p>
        <p>Asunnon myynti on taloudellisesti merkittävä päätös. Ennen kuin valitset kuka hoitaa elämäsi ehkä suurimpiin kuuluvia kauppoja, kannattaa lukea Asunnonmyynnin ABC ja välttää sudenkuopat, jotka voisivat muuten tulla sinulle kalliiksi ja viedä kohtuuttomasti aikaasi.
  </p>
      </div>
</div>
</div>
<div class="container">
  <div class="paras-mahdollinen col-xs-12">
      <h2 align="center" style="margin-bottom: 40px;">Etsitkö parasta mahdollista välittäjää asunnollesi?</h2>
      <p>Jos etsit kiinteistönvälittäjää välitysprosentti on yksi asia, mutta on muitakin seikkoja. Kallein ei ole aina paras valinta, mutta halvin välityspalkkiokaan ei välttämättä tuo sinulle parasta rahallista käteen jäävää loppu tulosta. Me myyntiapu.fi:ssä haluamme antaa sinulle vinkkejä joihin kannattaa kiinnittää huomiota kun mietit sinulle sopivan välittäjän valitsemista.</p>
  
  <h5>Tiedä & Vertaa:</h5>
  
  <ol>
    <li>Lataa maksutta www.myyntiapu.fi - Asunnonmyynnin-ABC joka sisältää helposti luettavan tietopaketin jota tarvitset onnistuneeseen asuntosi myynnin alkuvalmisteluun, välittäjän valintaan, välityspalkkioihin ja muuhun tärkeään.</li>
    <li>Saat verrattavaksesi alueesi välittäjiä, joista voit valita sinulle mieleisesi palvelupaketit palkkinoineen, tai olla valitsematta. Palvelumme ei sido sinua mihinkään.</li>
  </ol>
  
  <h5>Hinnat ja välitysprosentit</h5>
  
  <p>Älä sokaistu tuijottamaan pelkkiä välitysprosentteja. Yleensä välitysliikkeet ilmoittavat yrityksen listahinnat, hinnat ovat kuitenkin aina tapauskohtaisia ja voit pyytää omaa räätälöityä välityspalkkiotarjousta. Muut asiat normaalisti nousevat tärkeämmiksi: arvioitu myyntiin kuluva aika, oikeaan osuva hintapyyntö heti alussa, laadukas markkinointi, hyvät valokuvat, välittäjän kokemus,  ammattitaito ja tietenkin palveluasenne sekä nopeus.</p>
  
  
  Harkitsetko myyntiä itsenäisesti?
  
  Itsemyynti on yleistynyt myös Suomessa, ulkomailla se on yleisempää. Internetin ja eri asuntosivustojen takia itsemyynti kiinnostaa monia ja ilmoitus on helpompi laittaa näkyville sillä kalliita lehtimainoksia ei tarvita. Lataamalla Asunnonmyynnin ABC:n, annamme sinulle tärkeimmät vinkit siitä kuinka asunnon omatoimisessa myynnissä kannattaa toimia ja miten vältät pahimmat virheet. Mikäli kuitenkin koet itse myymisen työlääksi tai et halua käyttää siihen arvokasta aikaasi, suosittelemme että otat kilpailukykyiset tarjoukset välittäjiltä ja voit vertailla tarjouksia.
  
  Lataa ilmaiseksi www.myyntiapu.fi -Asunnonmyynnin-ABC joka sisältää helposti luettavan tietopaketin jota tarvitset onnistuneeseen asunnonmyyntiin, tarvittaviin asiakirjoihin, vinkkeihin valokuvauksesta, vastuiden tiedostamiseen ja muuhun prosessissa tärkeään tietoon.
    </p>
  </div>
</div>